.central-hub {
    display: grid;
    grid-template-columns: [nav-bar-s] 1fr [ life-updates-s] 700px [life-updates-e] 1fr [nav-bar-e ];
    grid-template-rows: [s] 1fr [e];
    align-items: center;
    justify-content: center;
}


.life-updates {
    grid-column: nav-bar-s/nav-bar-e;
    margin-top: 70px;
}

.media {
    grid-column: nav-bar-s/nav-bar-e;
}

@media only screen and (max-width: 1200px) {
    .central-hub {
        width: 100%;
        grid-template-columns: [nav-bar-s] 1fr [ life-updates-s] 1fr [life-updates-e] 1fr [nav-bar-e];
    }

}