.main-page-wrapper {
    grid-column: 1/4;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;   
    width: 75%;
    height: 75%;

    .calendar {
        flex-grow: 1;  
    }
    .navigator {
        height: 1472px;
    }
}



@media only screen and (max-width: 1200px) {
    .main-page {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        
        .navigator {
           display: flex;
           align-items: center;
           justify-content: center;
           margin-top: 100px;
           height: 100%;
           width: 100%;
           margin-bottom: 50px;
           
        }
        .calendar {
            width: 300px;
        }
    }
}