.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 275px;
    .title {
        text-align-last: center;
        width: 225px;
    }
}

@media only screen and (max-width: 1200px) { 
    .blog_form {
        padding-top: 15px;
    }
}