.nav-bar {
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;  
    font-size: 50px;
    &__link {
        padding-right: 100px;
        border-bottom: none;
        transition: 0.3s ease-in-out;
        &:hover {
            color: lightgrey;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .nav-bar {
        width: 600px;
    }
    .nav-bar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        width: 100%;
        .nav-bar__link{
            padding-bottom: 20px;
            padding-right: 0px;
        }
    }
}