.nav-bar {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    grid-column: nav-bar-s/nav-bar-e;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 10;
    background-color: darkgray;

    &__link {

        &:not(:last-of-type) {
            margin-right: 100px;
        }
        padding: 10px;
        border-bottom: none;
        transition: 0.3s ease-in-out;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            border: 1px solid black;
        }
    }
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

@media only screen and (max-width: 1200px) {

    .nav-bar {
        width: 100%;
    }

    .nav-bar-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 24px;
        width: 100%;
        height: 100%;

        .nav-bar__link{
            margin: 0;
        }
    }
}